<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <input name="username" type="text"/>
    <input name="password" type="password"/>
    <input type="submit" value="Login"/>
</form>
<a href="{% url 'pizza:home' %}">На главную</a>
<p>Не зарегистрированны?</p>
<p><a href="{% url 'users:signup' %}">Зарегистрироваться</a></p>
</body>
</html>